@meny-farge: #3276B1;
@meny-tekstfarge: #333;

#morild-nav {
    background-color: @meny-farge;
    border-color: @meny-farge;
}

.navbar-inverse .navbar-brand {
    color: @meny-tekstfarge;
}
.navbar-inverse .navbar-nav > li > a {
    color: @meny-tekstfarge;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: @meny-farge;
}