
@defaultmargleft: 10px;

.listbox {
    height: 50px;
}
.epost_pref_tabell {

    margin-left: @defaultmargleft;

    label {
        margin-left: @defaultmargleft;
    }
}
.alert {
    margin-bottom: 0;
}
.navbar {
    margin-bottom:0;
}
button, input, select, textarea, .checkbox {
    margin: 0 0 12px 12px;
}
.jumbotron {
    padding-top: 20px;
    padding-bottom: 60px;

    p {
        width: auto;
    }

    .glyphicon.glyphicon-paperclip {
        display: table-footer-group;
        float: left;
        font-size: 6em;
        margin-left: -0.2em;
        margin-right: 0.3em;
        padding-bottom: 0.3em;
    }
}
